{{#paper-item class="md-2-line" as |controls|}}
  {{paper-icon (if isDeposit "attach-money" "money-off")}}
  <div class="md-list-item-text">
    <h3>{{cashflow.title}}</h3>
    <p>
      {{format-money (abs cashflow.amount)}} 
      {{if isWithdrawal "withdrawn" "deposited"}}
      {{cashflow.frequency}}
    </p>
    {{#controls.button secondary=true iconButton=true}}
      {{paper-icon "mode-edit"}}
    {{/controls.button}}
  </div>
{{/paper-item}}

